name: Run biome

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Run biome
        run: bash scripts/biome_report/index.sh

      - name: Create Issue
        if: ${{ hashFiles('tmp/biome_report.md') != '' }}
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: "Biome Lint Report"
          content-filepath: tmp/biome_report.md


